In [1]:
import pandas as pd
import numpy as np

In [6]:
n = input('enter a string')
a = 0
while a < len(n):
    if n[a] != 'a' and  n[a] != 'e' and  n[a] != 'i' and  n[a] != 'o' and  n[a] != 'u' :
        print(n[a])
    a+=1

enter a string tewjS

t
w
j
S

In [8]:
sum = 0
while True:
    n = int(input('enter a number'))
    if n == 0:
        print('sum is ',sum)
        break
    sum+=n

enter a number 3
enter a number 4
enter a number 5
enter a number 66
enter a number 0

sum is  78

In [9]:
sum = 0
while True:
    n = int(input('enter a number'))
    if n == 0:
        print('sum is ',sum)
        break
    elif n>0:
        sum+=n

enter a number 4
enter a number 5
enter a number 6
enter a number -1
enter a number 4
enter a number 0

sum is  19

In [13]:
n = input('enter a string')
vowels = ['a','e','i','o','u']
for i in n:
    if i not in vowels:
        print(i)

enter a string mdesalsa

m
d
s
l
s

In [15]:
n = int(input("enter a number"))
sum = 0
for i in range(1,n+1):
    sum+=i
print(sum)

enter a number 4

10

In [19]:
n = int(input("enter a number"))
print("sum is ",int((n*(n+1))/2))

enter a number 4

sum is  10

In [20]:
x = 3+4j

In [23]:
print(type(x))

<class 'complex'>

In [39]:
x = [2,3,'tejas',True,None]

In [40]:
type(x)

list

In [41]:
x[2] = 4

In [42]:
x

[2, 3, 4, True, None]

In [43]:
x = (2,3,'tejas',True,None)

In [45]:
type(x)

tuple

In [46]:
x[2]

'tejas'

In [44]:
x[2] = 4

TypeError: 'tuple' object does not support item assignment

In [58]:
capitals = {'Nepal':'katmandu', 'karnataka':'Bengaluru',2:'two'}

In [48]:
type(capitals)

dict

In [70]:
x = {1,1,2,2,4,4}

In [71]:
type(x)

set

In [61]:
capitals['karnataka'] = 'india'

In [62]:
capitals['karnataka']

'india'

In [63]:
x[0]

TypeError: 'set' object is not subscriptable

In [72]:
for i in x:
    print(i)

1
2
4

In [73]:
x = [1,2,3,4,5]

In [80]:
a = ['tejas',[1,2,3]]

In [81]:
x.extend(a)

In [82]:
x

[1, 2, 3, 4, 5, 4, 5, 6, 7, 'tejas', 'tejas', [1, 2, 3]]

In [83]:
x.append(a)

In [84]:
x

[1, 2, 3, 4, 5, 4, 5, 6, 7, 'tejas', 'tejas', [1, 2, 3], ['tejas', [1, 2, 3]]]

In [85]:
#email: imran@ineuron.ai