# **`ASSIGNMENT 20`**

`1. Set the variable test1 to the string 'This is a test of the emergency text system' and save test1 to a
file named test.txt.`

In [2]:
#Ans 1.
test1 = 'This is a test of the emergency text system'
with open("test.txt","w") as f:
    f.write(test1)

`2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?`

Ans 2: 

No, There is no difference

In [3]:
with open("test.txt","r") as f:
    test2 = f.read()
    print(test2)

This is a test of the emergency text system

`3. Create a CSV file called books.csv by using these lines:`<br>
title,author,year<br>
The Weirdstone of Brisingamen,Alan Garner,1960<br>
Perdido Street Station,China Miéville,2000<br>
Thud!,Terry Pratchett,2005<br>
The Spellman Files,Lisa Lutz,2007<br>
Small Gods,Terry Pratchett,1992<br>

In [4]:
#ans 3.
import csv

with open("books.csv","w",newline="") as f:
    writer = csv.writer(f)

    writer.writerow(['title','author','year'])
    writer.writerow(['The Weirdstone of Brisingamen','Alan Garner',1960])
    writer.writerow(['Perdido Street Station','China Miéville',2000])
    writer.writerow(['Thud!','Terry Pratchett',2005])
    writer.writerow(['The Spellman Files','Lisa Lutz',2007])
    writer.writerow(['Small Gods','Terry Pratchett',1992])

`4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).`

In [61]:
#ans 4
import sqlite3

conn = sqlite3.connect("book.db")

print("opened db successfully")

conn.execute('''CREATE TABLE books
(Id INT AUTO_INCREMENT PRIMARY KEY NOT NULL,
title TEXT NOT NULL,
author TEXT NOT NULL,
year INT NOT NULL)''')
conn.close()
print ("Table created successfully")

opened db successfully
Table created successfully

`5. Read books.csv and insert its data into the book table.`

In [80]:
#ans 5
import sqlite3

conn = sqlite3.connect("book.db")


with open("books.csv","r") as f:
    reader = csv.reader(f)
    data = []
    for row in reader:
        data.append(tuple(row))
    print(data)

for i in data[1:]:
    print(f'''INSERT INTO books VALUES ({data.index(i)},'{i[0]}','{i[1]}',{int(i[2])})''')
    conn.execute(f'''INSERT INTO books VALUES ({data.index(i)},'{i[0]}','{i[1]}',{int(i[2])})''')
conn.commit()
conn.close()

[('title', 'author', 'year'), ('The Weirdstone of Brisingamen', 'Alan Garner', '1960'), ('Perdido Street Station', 'China Miéville', '2000'), ('Thud!', 'Terry Pratchett', '2005'), ('The Spellman Files', 'Lisa Lutz', '2007'), ('Small Gods', 'Terry Pratchett', '1992')]
INSERT INTO books VALUES (1,'The Weirdstone of Brisingamen','Alan Garner',1960)
INSERT INTO books VALUES (2,'Perdido Street Station','China Miéville',2000)
INSERT INTO books VALUES (3,'Thud!','Terry Pratchett',2005)
INSERT INTO books VALUES (4,'The Spellman Files','Lisa Lutz',2007)
INSERT INTO books VALUES (5,'Small Gods','Terry Pratchett',1992)

`6. Select and print the title column from the book table in alphabetical order.`

In [91]:
#ans 6
conn = sqlite3.connect("book.db")


cursor = conn.execute('''SELECT title FROM books ORDER BY title ASC''')
for i in cursor:
    print(i)
conn.close()

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

`7. From the book table, select and print all columns in the order of publication.`

In [92]:
#ans 7
conn = sqlite3.connect("book.db")


cursor = conn.execute('''SELECT * FROM books ORDER BY year ASC''')
for i in cursor:
    print(i)
conn.close()

(1, 'The Weirdstone of Brisingamen', 'Alan Garner', 1960)
(5, 'Small Gods', 'Terry Pratchett', 1992)
(2, 'Perdido Street Station', 'China Miéville', 2000)
(3, 'Thud!', 'Terry Pratchett', 2005)
(4, 'The Spellman Files', 'Lisa Lutz', 2007)

`8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.`

In [123]:
import sqlalchemy as sal
engine = sal.create_engine("sqlite:///book.db")
engine.connect()
engine.table_names()

C:\Users\tejas\AppData\Local\Temp\ipykernel_10452\2587557184.py:4: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['books']

`9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for
test.`

In [ ]:
import redis

# create the redis connection
r_conn = redis.Redis(host='localhost', port=6379)

r_conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})

r_conn.hgetall('test')

`10. Increment the count field of test and print it.`

In [ ]:
r_conn.hincrby('test', 'count', 1)
r_conn.hget('test', 'count')