1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [5]:
test1 = 'This is a test of the emergency text system'
with open('test.txt','w') as f:
    f.write(test1)

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [8]:
#Ans: No difference in value
with open('test.txt','r') as f:
    test2 = f.read()
print(test2)
test1 == test2

This is a test of the emergency text system

True

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [17]:
import csv
rows = [['title','author','year'],
['The Weirdstone of Brisingamen','Alan Garner',1960],
['Perdido Street Station','China Miéville',2000],
['Thud!','Terry Pratchett',2005],
['The Spellman Files','Lisa Lutz',2007],
['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as f:
    writer = csv.writer(f)
    writer.writerows(rows)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [19]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute('CREATE TABLE books (title VARCHAR (255), author VARCHAR (255), year INTEGER)')
conn.commit()

5. Read books.csv and insert its data into the book table.

In [30]:
import pandas as pd
books_csv = pd.read_csv('books.csv',encoding='unicode-escape')
books_csv.to_sql('books',conn,if_exists='append',index=False)

5

6. Select and print the title column from the book table in alphabetical order.

In [32]:
cursor.execute('SELECT title FROM books ORDER BY title ASC')
print(cursor.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

7. From the book table, select and print all columns in the order of publication.

In [36]:
cursor.execute('SELECT * FROM books ORDER BY year ASC')
df = pd.DataFrame(cursor.fetchall(),columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [38]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute("SELECT * FROM books")
df = pd.DataFrame(rows)
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [ ]:
## !pip install redis -> command to install redis
import redis
conn = redis.Redis()
conn.set('test',{'count': 1, 'name': 'Fester Bestertester'})
value = conn.get('name')
print("Value from Redis -->", value)

10. Increment the count field of test and print it.

In [ ]:
conn.incrby('test','count',3)